<html>
<head>
<body style = "background:  rgb(201, 206,199)" >
 <h1> House Prediction based on inputs</h1>
 <form action="/predict" method = "POST">
 <input type="text" name = "SQUARE_FT" placeholder="Enter SQUARE_FT value" />
 <input type="text" name = "READY_TO_MOVE" placeholder="Enter READY_TO_MOVE value" />
 <input type="text" name = "RESALE" placeholder="Enter RESALE value" />
 <input type="text" name = "LONGITUDE" placeholder="Enter LONGITUDE value" />
 <input type="text" name = "LATITUDE" placeholder="Enter LATITUDE value" />
 <input type="text" name = "BHK_NO" placeholder="Enter BHK_NO value" />
 <button type  = "submit" name = "predict"> Predict Price</button>       
 </form>
</body>
</head>
{{prediction_price}}

</html>